  <table>
    <thead>
        <tr>
            <th>Pet Id</th>
            <th>Pet Name</th>
            <th>Age</th>
            <th>Owner</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
          <tr>
            <td>{{PetDetails.petId}}</td>
            <td>{{PetDetails.petName}}</td>
            <td>{{PetDetails.petAge}}</td>
            <td>{{PetDetails.petOwner}}</td>
            <!-- <td><button mat-button (click)="editDialog(PetDetails.petId)">Edit</button></td> -->
            <td><button mat-button (click)="editDialogTwo(PetDetails)">Edit</button></td>
            <td><button mat-button (click)="openDialog(PetDetails.petId)">Open Care Window</button></td>
        </tr>
    </tbody>
</table>
